<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tables.css">
</head>
<body>
<div id="container">
    <div id="menu">
        <ul>
            <li><a href="/album">Albums</a></li>
            <li><a href="/artist">Artists</a></li>
            <li><a href="/genre">Genres</a></li>
            <li><a href="/carrier">Carriers</a></li>
            <li><a href="/band">Bands</a></li>
            <li><a href="/song">Songs</a></li>
            <li><a href="/joining">Artists/Bands</a></li>
            <li><a href="/containssong">Albums/Songs</a></li>
            <li><a href="/recorded">Albums/Carriers</a></li>
            <li><a href="/containsartist">Albums/Artists</a></li>
            <li><a href="/containsband">Albums/Bands</a></li>
            <li><a href="/performsartist">Songs/Artists</a></li>
            <li><a href="/performsband">Songs/Bands</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>Music Shop</h1>
        <div class="header">
            <h2>Bands</h2>
            <button class="add-button" onclick="openForm()">Create band</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="band : ${bands}">
                <td th:text="${band.getId()}"></td>
                <td th:text="${band.getBandName()}"></td>
                <td>
                    <a th:href="@{/band/edit/{id}(id=${band.getId()})}"><span>&#9999;</span></a>
                    <form th:action="@{/band/delete/{id}(id=${band.getId()})}" method="POST">
                        <button type="submit"><span>&#10060;</span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Create band</h2>
        <form th:action="@{/band/create}" method="POST">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="bandName"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
</body>
</html>
