<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Музыкальный магазин - Редактирование песни</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<div id="content">
    <h1>Музыкальный магазин</h1>
    <h2>Редактирование песни</h2>
    <form th:action="@{/song/edit/{id}(id=${song.id})}" th:object="${song}" method="POST">
        <table>
            <tr>
                <input type="hidden" th:field="*{id}"/>
            </tr>
            <tr>
                <td>Название песни:</td>
                <td><input type="text" th:field="*{songName}" id="songName"/></td>
            </tr>
            <tr>
                <td>Автор:</td>
                <td><input type="text" th:field="*{author}" id="author"/></td>
            </tr>
            <tr>
                <td>Продолжительность песни:</td>
                <td><input type="text" th:field="*{songDuration}" id="songDuration"/></td>
            </tr>
            <tr>
                <td>Жанр:</td>
                <td>
                    <select name="genreName" id="genreName">
                        <option th:each="genre : ${genres}"
                                th:value="${genre.genreName}"
                                th:text="${genre.genreName}"
                                th:selected="${song != null && song.genre != null && genre.genreName eq song.genre.genreName}"></option>
                    </select>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
