<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Shop - Editor</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<div id="content">
    <h1>Music Shop</h1>
    <h2>Editor</h2>
    <form th:action="@{/performsartist/edit/{id}(id=${performsArtist.id})}" th:object="${performsArtist}" method="POST">
        <table>
            <tr>
                <input type="hidden" th:field="*{id}"/>
            </tr>
            <tr>
                <td>Song name:</td>
                <td>
                    <select name="songName" id="songName">
                        <option th:each="song : ${songs}"
                                th:value="${song.songName}"
                                th:text="${song.songName}"
                                th:selected="${performsartist != null && performsartist.song != null && song.songName == performsartist.song.getSongName()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Artist name:</td>
                <td>
                    <select name="artistName" id="artistName">
                        <option th:each="artist : ${artists}"
                                th:value="${artist.artistName}"
                                th:text="${artist.artistName}"
                                th:selected="${performsartist != null && performsartist.artist != null && artist.artistName == performsartist.artist.getArtistName()}"></option>
                    </select>
                </td>
            </tr>
            <td colspan="2">
                <button type="submit">Save changes</button>
            </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
