<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Shop - Band editor</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<div id="content">
    <h1>Music Shop</h1>
    <h2>Band editor</h2>
    <form th:action="@{/band/edit/{id}(id=${band.id})}" th:object="${band}" method="POST">
        <table>
            <tr>
                <input type="hidden" th:field="*{id}"/>
            </tr>
            <tr>
                <td>Band name:</td>
                <td><input type="text" th:field="*{bandName}" id="bandName"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save changes</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
