<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Музыкальный магазин - Редактирование жанра</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<div id="content">
    <h1>Музыкальный магазин</h1>
    <h2>Редактирование жанра</h2>
    <form th:action="@{/genre/save}" th:object="${genre}" method="POST">
        <table>
            <tr>
                <td>Название жанра:</td>
                <td><input type="text" th:field="*{name}" id="name" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
