<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Music Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div id="container">
    <div id="menu">
        <ul>
            <li><a href="/album">Albums</a></li>
            <li><a href="/artist">Artists</a></li>
            <li><a href="/genre">Genres</a></li>
            <li><a href="/carrier">Carriers</a></li>
            <li><a href="/band">Bands</a></li>
            <li><a href="/song">Songs</a></li>
            <li><a href="/joining">Artists/Bands</a></li>
            <li><a href="/containssong">Albums/Songs</a></li>
            <li><a href="/recorded">Albums/Carriers</a></li>
            <li><a href="/containsartist">Albums/Artists</a></li>
            <li><a href="/containsband">Albums/Bands</a></li>
            <li><a href="/performsartist">Songs/Artists</a></li>
            <li><a href="/performsband">Songs/Bands</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>Music Shop</h1>
        <div class="header">
            <h2>Songs/Bands</h2>
            <button class="add-button" onclick="openForm()">Create</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Song name</th>
                <th>Band name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performsband : ${performsbands}">
                <td th:text="${performsband.getId()}"></td>
                <td th:text="${performsband.song.getSongName()}"></td>
                <td th:text="${performsband.band.getBandName()}"></td>
                <td>
                    <a th:href="@{/performsband/edit/{id}(id=${performsband.getId()})}"><span>&#9999;</span></a>
                    <form th:action="@{/performsband/delete/{id}(id=${performsband.getId})}" method="POST">
                        <button type="submit"><span>&#10060;</span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Create</h2>
        <form th:action="@{/performsband/create}" method="POST">
            <table>
                <tr>
                    <td>Song name:</td>
                    <td>
                        <select name="songName" id="songName">
                            <option th:each="song : ${songs}"
                                    th:value="${song.songName}"
                                    th:text="${song.songName}"
                                    th:selected="${performsband != null && performsband.song != null && song.songName == performsband.song.getSongName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Band name:</td>
                    <td>
                        <select name="bandName" id="bandName">
                            <option th:each="band : ${bands}"
                                    th:value="${band.bandName}"
                                    th:text="${band.bandName}"
                                    th:selected="${performsband != null && performsband.band != null && band.bandName == performsband.band.getBandName()}"></option>
                        </select>
                    </td>
                </tr>
                <td colspan="2">
                    <button type="submit">Create</button>
                </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("myModal").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
</body>
</html>
