<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Music Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/table.css">
</head>
<body>
<div id="container">
    <div id="menu">
        <ul>
            <li><a href="/album">Albums</a></li>
            <li><a href="/artist">Artists</a></li>
            <li><a href="/genre">Genres</a></li>
            <li><a href="/carrier">Carriers</a></li>
            <li><a href="/band">Bands</a></li>
            <li><a href="/song">Songs</a></li>
            <li><a href="/joining">Artists/Bands</a></li>
            <li><a href="/containssong">Albums/Songs</a></li>
            <li><a href="/recorded">Albums/Carriers</a></li>
            <li><a href="/containsartist">Albums/Artists</a></li>
            <li><a href="/containsband">Albums/Bands</a></li>
            <li><a href="/performsartist">Songs/Artists</a></li>
            <li><a href="/performsband">Songs/Bands</a></li>
            <li><a href="/sql-query">SQL Query</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>Music Shop</h1>
        <div class="header">
            <h2>Albums/Carriers</h2>
            <button class="add-button" onclick="openForm()">Create</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Album name</th>
                <th>ID carrier</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recorded : ${recordeds}">
                <td th:text="${recorded.getId()}"></td>
                <td th:text="${recorded.album.getAlbumName()}"></td>
                <td th:text="${recorded.carrier.getId()}"></td>
                <td th:text="${recorded.getRecordedCost()}"></td>
                <td>
                    <a th:href="@{/recorded/edit/{id}(id=${recorded.getId()})}"><span>&#9999;</span></a>
                    <form th:action="@{/recorded/delete/{id}(id=${recorded.getId()})}" method="POST">
                        <button type="submit"><span>&#10060;</span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Create</h2>
        <form th:action="@{/recorded/create}" method="POST">
            <table>
                <tr>
                    <td>Album name:</td>
                    <td>
                        <select name="albumName" id="albumName">
                            <option th:each="album : ${albums}"
                                    th:value="${album.albumName}"
                                    th:text="${album.albumName}"
                                    th:selected="${recorded != null && recorded.album != null && album.albumName == recorded.album.getAlbumName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>ID carrier:</td>
                    <td>
                        <select name="idCarrier" id="id_carrier">
                            <option th:each="carrier : ${carriers}"
                                    th:value="${carrier.id}"
                                    th:text="${carrier.id}"
                                    th:selected="${recorded != null && recorded.carrier != null && carrier.id == recorded.carrier.getId()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cost:</td>
                    <td><input type="text" name="recordedCost"/></td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="submit">Create</button>
                </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
</body>
</html>
