<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Music Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div id="container">
    <div id="menu">
        <ul>
            <li><a href="/album">Albums</a></li>
            <li><a href="/artist">Artists</a></li>
            <li><a href="/genre">Genres</a></li>
            <li><a href="/carrier">Carriers</a></li>
            <li><a href="/band">Bands</a></li>
            <li><a href="/song">Songs</a></li>
            <li><a href="/joining">Artists/Bands</a></li>
            <li><a href="/containssong">Albums/Songs</a></li>
            <li><a href="/recorded">Albums/Carriers</a></li>
            <li><a href="/containsartist">Albums/Artists</a></li>
            <li><a href="/containsband">Albums/Bands</a></li>
            <li><a href="/performsartist">Songs/Artists</a></li>
            <li><a href="/performsband">Songs/Bands</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>Music Shop</h1>
        <div class="header">
            <h2>Songs</h2>
            <button class="add-button" onclick="openForm()">Create song</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Song name</th>
                <th>Author</th>
                <th>Duration</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.getId()}"></td>
                <td th:text="${song.getSongName()}"></td>
                <td th:text="${song.getAuthor()}"></td>
                <td th:text="${song.getSongDuration()}"></td>
                <td th:text="${song.genre.getGenreName()}"></td>
                <td>
                    <a th:href="@{/song/edit/{id}(id=${song.getId()})}"><span>&#9999;</span></a>
                    <form th:action="@{/song/delete/{id}(id=${song.getId()})}" method="POST">
                        <button type="submit"><span>&#10060;</span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Create song</h2>
        <form th:action="@{/song/create}" method="POST">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="songName"/></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td><input type="text" name="author"/></td>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td><input type="text" name="songDuration" id="songDuration"/></td>
                </tr>
                <tr>
                    <td>Genre:</td>
                    <td>
                        <select name="genreName" id="genreName">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.genreName}"
                                    th:text="${genre.genreName}"
                                    th:selected="${song != null && song.genre != null && genre.genreName == song.genre.getGenreName()}"></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    function openForm() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }

    document.addEventListener('DOMContentLoaded', function () {

        flatpickr("#songDuration", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i:S",
            time_24hr: true,
            enableSeconds: true,
            minuteIncrement: 1,
            secondIncrement: 1
        });
    });
</script>
</body>
</html>
